<div class="row bg-light align-items-end">
    <p class="col-sm my-1 text-muted text-left align-self-center">
        <i class="fas fa-code-branch"></i> <a referrerpolicy="origin" rel="noopener" href="https://github.com/Diego-Lagos/malla-interactiva-ucen-prof" target="_blank">Código fuente</a>
    </p>

    <div class="col-sm my-1 text-center align-self-center">
        <a href="docs/creditos.html" class="btn btn-outline-secondary btn-sm">
            <i class="fas fa-users"></i> Equipo y Contacto
        </a>
    </div>

    <p class="col-sm my-1 text-muted text-right align-self-center">
        Última actualización: <br> 7-01-2026 11:03
    </p>
</div>


